.DS_Store
Thumbs.db
Desktop.ini

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

dist/
build/
*.tmp
*.temp
*.log
.env
.env.local
.cache/
